* {
    font-family: 'Nunito', sans-serif;
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
      scroll-behavior: smooth;
      /* border: #4c9e9e 1px solid; */
  }
  html {
      scroll-behavior: smooth; 
  }
  body {
      margin: 0;
      padding: 0;
      line-height: 1.6;
      background-color: #dfe9ec;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  p{
    color: navy;
  }
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;

  }